* {

    background-color: rgb(34, 32, 32);
   
}
h1{ 
    color: white;
    margin: 20%;
    padding: 0 10px;
    left: 20%;
}
h2{border: 1px solid #fff;
color: #f91;
top: 30%;
margin-left: 45%;
margin-right: 40%;
position: absolute;
color: rgba(0, 0, 0, 0.3);
}
h2:hover {

    
    background-color: #f91;
    transform: rotatex(90deg),2s;


}

